/**
 * @package Live
 */

/*
 * Variables
 */
$devices: js, no-js, touch, no-touch;

$breakpoints: (
	xsmall:  0,
	small:   480px,
	medium:  768px,
	regular: 960px,
	large:   1120px,
	xlarge:  1440px,
	xxlarge: 1600px
);

$default-site-width-name: large;
$default-site-width: map-get($breakpoints, $default-site-width-name);

$site-widths: (
	xlarge:  map-get($breakpoints, xlarge),
	xxlarge: map-get($breakpoints, xxlarge)
);

$body-background-width: 2200px;

$max-columns: 8;

$all-text-inputs: $all-text-inputs + ", select";

$buttons-exclude: ':not([class^=sl-]):not(#insert-media-button):not(.wp-switch-editor):not([role="presentation"]):not(.mce-open):not(.ed_button)';

$all-buttons: $all-buttons + ", .button" + $buttons-exclude;
$all-buttons: selector-replace($all-buttons, button, "button" + $buttons-exclude);
$all-buttons: selector-replace($all-buttons, 'input[type="button"]', 'input[type="button"]' + $buttons-exclude);

/*
 * Imports
 */
@import "../components/simplelightbox/simplelightbox";
@import "../components/spinkit/spinners/3-wave";

@import "simple_icons";
@import "typo";

@import "reset";
@import "utils";
@import "base";

@import "elements";
@import "structure";
@import "boxes";
@import "widgets";

@import "3rd_party";

/*
 * Typografy selectors check
 */
@each $name, $fonts in (primary: $font-primary, secondary: $font-secondary) {
	@if $fonts != map-get($_fonts, $name) {
		@warn "$font-#{$name}: " + inspect(map-get($_fonts, $name)) + ";";
	}
}