/**
 * @package Live
 */

/*
 * Box background
 */
%box-background {

	background: $box-background-color repeat;

	@if variable-exists(box-background-image) and $box-background-image != null {

		background-image: url(nth($box-background-image, 1));

		@include hidpi {
			background-image: url(nth($box-background-image, 2));
		}

	}

}

/*
 * Box
 */
.box {

	@extend %box-background;

	box-sizing: border-box;
	background-clip: content-box;
	position: relative;
	margin: rem(35) 0;
	overflow: hidden;

	// Alpha, beta
	&-alpha, &-beta {
		position: relative;
	}

	// Alpha
	&-alpha {

		overflow: hidden;

		.gallery {
			margin: 0;
		}

	}

	// Beta
	&-beta {

		&:before, &:after {
			content: "";
			display: table;
		}

	}

	// Content
	&-content {
		box-sizing: border-box;
		margin: rem(40) 10%;
	}

	// Title
	&-title {

		@extend h1;
		@include font-extend(secondary);

		margin-top: 1em;

		+ .small-title {

			@include margin(-1em null 2.5em);

			@include breakpoint(small) {
				max-width: 70%;
			}

			@include breakpoint(medium) {
				max-width: 40%;
			}

		}

	}

	// Featured
	.featured {

		&-image, &-gallery, &-video {
			margin: 0;
		}

		// Featured image
		&-image {

			width: 100%;

			img {
				display: block;
				margin: 0 auto;
				width: auto;
				max-width: 100%;
			}

		}

	}

}

/*
 * Post box
 */
.box-post {

	@extend .box;

	@mixin breakpoint-ex($val) {
		@include breakpoint($val) {
			@include replace(".box-post", ":not(.holder-bricks) > .box-post:not(.sticky):not(.bricks-item)") {
				@content;
			}
		}
	}

	$featured-width: 31.25%;
	$meta-height: 44px;

	@include breakpoint(regular) {
		transition: opacity 0.3s 0.1s, transform 0.4s 0.1s;
		opacity: 1;
	}

	// Lazy show
	&.lazy-show-hidden {

		@include breakpoint(regular) {
			transition: none;
			opacity: 0.01; // Webkit SVG bug
			transform: translateY(rem(80));
		}

	}

	// Bricks
	.holder-bricks & {

		float: left;
		margin: 0;
		padding: 0 rem(34 / 2) rem(34);
		width: 50%;

		@for $i from 1 through $max-columns { // default 2
			@include replace(".holder-bricks", ".holder-bricks[data-holder-columns=\"#{$i}\"]") {
				width: 100% / $i;
			}
		}

		@include replace(".holder-bricks", ".holder-bricks.ready") {

			&.bricks-item {
				float: none;
				position: absolute;
				padding: rem(34 / 2);
			}

		}

	}

	// Alpha
	.box-alpha {

		z-index: 1;

		@include breakpoint-ex(medium) {
			width: $featured-width;
		}

	}

	// Beta
	.box-beta {

		max-height: rem(420);
		overflow: hidden;

		@include breakpoint-ex(medium) {
			max-height: none;
		}

	}

	.box-alpha + .box-beta {

		margin-top: -4rem;
		padding-top: 4rem;

		@include breakpoint-ex(medium) {

			@include position(absolute, 0 0 0 $featured-width);

			margin: 0;
			padding: 0;

		}

		// Tags
		.tags:first-child {

			transform: translateY(-100%);
			position: absolute;
			z-index: 3;

			@include breakpoint-ex(medium) {
				transform: none;
				position: static;
			}

		}

	}

	.featured {

		// Featured image
		&-image {

			a > img, a > .slideshow {

				&:not(:last-child) {
					display: block;
					@include breakpoint-ex(medium) {
						display: none;
					}
				}

				&:not(:first-child) {
					display: none;
					@include breakpoint-ex(medium) {
						display: block;
					}
				}

			}

		}

		// Featured gallery
		&-gallery {

			@include position(absolute, 0 0 0 null);

			background: $box-background-color;
			margin: -1px 0 0;
			overflow: hidden;
			z-index: 1;

			@include breakpoint-ex(medium) {
				@include position(absolute, auto 0 0 0);
				margin: 0 0 0 -1px;
				width: auto !important;
			}

			a {

				@include hover-zoom(1.2);
				@include border-margin(1px 0 0 1px);

				box-sizing: border-box;
				text-decoration: none;
				display: block;
				position: relative;
				height: 25%;
				overflow: hidden;

				@include breakpoint-ex(medium) {
					float: left;
					width: 25%;
					height: auto;
				}

				&:empty {
					display: none;
				}

				// Gallery count
				&[data-featured-gallery-count] {

					&:before {

						@include position(absolute, 0);

						content: "";
						background: rgba($featured-gallery-overlay-background, 0.3);
						z-index: 2;

					}

					&:after {

						@include position(absolute, 50% 0 null);
						@include font(secondary, rem(24) 0);

						content: "+" attr(data-featured-gallery-count);
						color: $featured-gallery-count-color;
						text-shadow: rem(2) rem(2) rem(6) $featured-gallery-count-shadow;
						text-align: center;
						display: block;
						padding-right: 0.333em;
						z-index: 2;

					}

					~ a {
						display: none;
					}

				}

				@for $i from 2 through 5 {
					@include replace(".featured-gallery", ".featured-gallery[data-featured-gallery-columns=\"#{$i}\"]") {
						height: 100% / $i;
						@include breakpoint-ex(medium) {
							width: 100% / $i;
						}
					}
				}

			}

			img {

				display: block;
				margin: 0;
				width: auto;
				height: 100%;

				@include breakpoint-ex(medium) {
					width: 100%;
					height: auto;
				}

			}

		}

	}

	// Content
	.box-content {

		&:after {

			@include linear-gradient(rgba($box-background-color, 0), $box-background-color rem(80));
			@include position(absolute, null 0 0 0);

			content: "";
			transition: padding-bottom 0.2s;
			pointer-events: none;
			display: block;
			padding-bottom: $meta-height;
			height: rem(100);
			z-index: 1;

			@include breakpoint(medium) {

				padding-bottom: 0;

				@include replace(".box-post", ".box-post:hover") {
					padding-bottom: $meta-height;
				}

			}

		}

		a {
			@include not-match(".hover-") {
				@include hover-zoom;
			}
		}

	}

	// Title
	.box-title {
		text-align: left;
	}

	// Meta
	.meta {

		@include position(absolute, null 0 0);
		@include font(secondary, rem(18));

		z-index: 1;

		@include breakpoint(medium) {

			transition: bottom 0.2s;
			bottom: em(-$meta-height, 18);

			@include replace(".box-post", ".box-post:hover") {
				bottom: 0;
			}

		}

		// Share
		.share {

			display: inline-block;
			margin: 0 0 0 1.2em;

			span {
				display: none;
			}

			li:first-child {
				margin-left: 0;
			}

			@include breakpoint(small) {

				span {
					display: inline-block;
				}

				li:first-child {
					margin-left: rem(13);
				}

			}

		}

		// More link
		.more-link {

			@include hover-slide;

			background: $more-link-background;
			line-height: em($meta-height, 18);
			color: $more-link-color;
			text-decoration: none;
			float: right;
			padding: 0 0.9em;

		}

	}

}

/*
 * Page box
 */
.box-page {

	@extend .box;

	// Beta
	.box-alpha + .box-beta {

		.tags:first-child {
			transform: translateY(-100%);
			position: absolute;
			z-index: 3;
		}

	}

	// Content
	.box-content {

		> .width-over {

			@include marginfix(rem(-40));

			margin-left: -12.5%;
			margin-right: -12.5%;
			width: 125% !important;
			max-width: none;

		}

		> figure.width-full a, > figure.width-over a {
			@include not-match(".hover-") {
				@include hover-zoom(1.025);
			}
		}

		a {
			@include not-match(".hover-") {
				@include hover-zoom;
			}
		}

	}

}

/*
 * Author box
 */
.box-author {

	$featured-width: 28.5%;
	$featured-offset: ($featured-width/2)/1.4142 - $featured-width/2 - 0.01; // sqrt(2) = 1.4142

	@extend .box;
	@extend %author;

	// Content
	.box-content {
		@include margin(rem(45) null rem(45) 28%);
	}

	// Title
	.box-title {

		@extend h5;
		@include font-extend(secondary);

		text-align: left;

	}

	// Featured image
	.featured-image {

		@include position(absolute, 0 null null $featured-offset);

		margin-top: $featured-offset;
		width: $featured-width;

	}

	// Share
	.share {

		float: right;
		margin: 0;

		span {

			display: none;

			@include breakpoint(medium) {
				display: inline-block;
			}

		}

	}

	p {
		font-size: rem(14);
		line-height: 2em;
	}

}

/*
 * Comments box
 */
.box-comments {

	@extend .box;

	// Title
	.box-title {
		@extend .small-title;
	}

	// Comments/sub-comments list
	.comments, .sub-comments, .children {
		list-style: none;
		margin: rem(30) 0;
		padding: 0;
	}

	.sub-comments, .children {
		margin-bottom: 0;
	}

	.comment {
		border-top: 1px solid $comment-line-color;
		margin: 0 0 rem(30);
		padding: rem(30) 0 0;
	}
	.comments > .comment:first-child {
		border-top: none;
		padding-top: 0;
	}

	// Body
	.body {
		position: relative;
	}

	$selector: &;
	@for $i from 0 through 8 {
		$selector: selector-nest($selector, ".comment");
		@at-root #{$selector} .body {
			margin-left: 11% + $i*4%;
		}
	}

	// Avatar
	.avatar {

		@include border-circled;
		@include position(absolute, 0 null null -11%/0.89);

		margin: 0;
		width: 8%;

	}

	// Toolbar, author
	.toolbar, .author {
		@include font(secondary, rem(14) 1.5em);
	}

	// Toolbar
	.toolbar {

		transition: opacity 0.2s;
		color: $small-title-color;
		letter-spacing: 0.25em;
		opacity: 0;
		float: right;

		a {
			@include link-reverse;
		}

	}

	.body:hover .toolbar {
		opacity: 1;
	}

	// Author
	.author {

		text-align: left;
		display: block;
		margin-top: 0;

		.timestamp {
			&:before {
				content: " / ";
				margin: 0 0.5em;
			}
			color: $comment-timestamp-color;
		}

	}

	// Content
	.comment-content {
		p {
			font-size: rem(14);
			line-height: 2em;
		}
	}

}