/**
 * @package Live
 */

/*
 * Container
 */
.container {

	margin: 0 auto;
	max-width: rem($default-site-width);

	@each $name, $width in $site-widths {
		@at-root .site-width-#{$name} & {
			max-width: rem($width);
		}
	}

}

/*
 * Holder
 */
.holder {

	$sidebar-width: 30%;
	$gutter: 2.5%;

	transform: translate3d(0, 0, 0);

	&.sidebar-left, &.sidebar-right {

		@include breakpoint(regular) {
			@include clearfix;
			margin: rem(35) 0;
		}

	}

	// Content, sidebar
	&-content, &-sidebar {

		margin: rem(35) 0;
		overflow: hidden;

		.sidebar-left &, .sidebar-right & {

			@include breakpoint(medium down) { // Stickyfill + Chrome fix
				position: static !important;
			}

			@include breakpoint(regular) {

				position: sticky;
				margin: 0;
				top: rem(20);

				position: -webkit-sticky;

			}

		}

	}

	// Content
	&-content {

		.sidebar-left &, .sidebar-right & {

			@include breakpoint(regular) {
				width: 100% - $sidebar-width - $gutter;
			}

			@include breakpoint(large) {
				width: calc(100% - #{rem(map-get($breakpoints, large) * ($sidebar-width+$gutter) / 100%)});
			}

		}

		@include breakpoint(regular) {

			.sidebar-left & {
				float: right;
			}

			.sidebar-right & {
				float: left;
			}

		}

		> * {
			@include marginfix;
		}

	}

	// Sidebar
	&-sidebar {

		@extend %box-background;

		display: none;
		padding: rem(10) 0;

		.sidebar-left &, .sidebar-right & {

			display: block;

			@include breakpoint(regular) {
				width: $sidebar-width;
				max-width: rem(map-get($breakpoints, large) * $sidebar-width / 100%);
			}

		}

		@include breakpoint(regular) {

			.sidebar-left & {
				float: left;
			}

			.sidebar-right & {
				float: right;
			}

		}

		&.ready > .bricks-items {
			position: relative;
			margin: 0 calc(10% - #{rem(20)});
		}

	}

	// Bricks layout
	&-bricks {

		margin: rem(35) rem(-34 / 2);
		overflow: hidden;

		&.ready {

			@include margin(null 0);

			> .bricks-items {
				position: relative;
				margin: rem(-34 / 2);
			}

		}

	}

}

/*
 * Wrapper
 */
#wrapper {

	box-sizing: border-box;
	position: relative;
	min-height: 100%;

	&:before {
		content: "";
		display: table;
	}

}

/*
 * Header
 */
#header {

	$margin: 60px;

	@include margin(rem($margin) null);

	position: relative;

	// Ratio
	@mixin ratio($width: 100vw) {

		@for $i from 15 through 40 {
			$ratio: $i / 10;
			$f: $width / $ratio;
			&.ratio-#{str-insert(inspect($i), "-", 2)} {
				min-height: if(unit($width) == "vw", calc(#{$f} - #{rem($margin*2)}), rem($f - $margin*2));
			}
		}

	}

	$selector: &;
	@each $name, $width in $site-widths {
		$selector: append($selector, ".site-width-#{$name} #{&}");
	}
	@at-root #{$selector} {
		@include ratio;
	}

	@include breakpoint($default-site-width-name) {
		@include ratio($default-site-width);
	}

	@each $name, $width in $site-widths {
		@at-root .site-width-#{$name} & {

			@include breakpoint($name) {
				@include ratio($width);
			}

		}
	}

	// Container
	.container {
		padding: 0 rem(20);
	}

	// Share
	.share {

		position: relative;
		margin: 0;

		ul {

			@include position(absolute, null 0 rem(10) null);

			@include breakpoint(regular) {
				bottom: 0;
			}

		}

		a {

			transition: opacity 0.2s, top 0.2s;
			background: $header-share-icon-background;
			opacity: 0.4;

			&:hover {
				opacity: 1;
			}

			&[data-hover] {
				color: $header-share-icon-color;
			}

			svg:first-child * {
				fill: $header-share-icon-color;
			}

		}

	}

	// Main section
	.main {

		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint(regular) {

			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			.logo {
				order: -1;
				margin: 0;
			}

			nav {
				text-align: left;
			}

			// Vertical align
			&.vertical-align {

				&-middle {
					align-items: center;
				}

				&-bottom {
					align-items: flex-end;
				}

				&-stack {

					flex-direction: column;
					align-items: center;

					.logo {
						margin: 0 0 rem(35);
					}
					&.horizontal-align-center .logo {
						margin: rem(35) 0;
					}
					&.horizontal-align-right .logo {
						margin: rem(35) 0 0;
					}

				}

			}

			// Horizontal align
			&.horizontal-align {

				&-center {

					justify-content: center;

					.logo {
						margin: 0 rem(35);
						order: 0;
					}

					nav {

						flex: 1 1 0;

						&:first-of-type {
							text-align: right;
							order: -1;
						}

						&:last-of-type {
							order: 1;
						}

					}

					&:not(.vertical-align-stack) nav + nav:before {
						display: none;
					}

				}

				&-right {

					.logo {
						order: 1;
					}

				}

			}

		}

	}

	// Logo
	.logo {

		@include font(secondary, rem(48) 1.4em);

		margin-bottom: rem(25);

		@include breakpoint(regular) {
			margin: 0;
		}

		a {
			@include link-inherit;
		}

		img {
			display: block;
			margin: 0 auto;
		}

	}

	// Navigation
	nav {

		font-size: rem(18);
		text-align: center;
		margin: -0.6em;

		&.back-shadow:before {

			$height: 260px;
			$opacity: 0.5;

			@include position(absolute, null 0);
			@include linear-gradient(transparent, rgba(complementary-color($header-nav-bright-color), $opacity) 50%, transparent);

			content: "";
			margin-top: ( (1.4em + 0.6em*2) - em($height, 18) ) / 2;
			padding: em($height / 2, 18) 0;
			height: 0;
			z-index: -1;

			@include replace("nav", "nav.dark") {
				@include linear-gradient(transparent, rgba(complementary-color($header-nav-dark-color), $opacity) 50%, transparent);
			}

		}

		// Level 0+
		ul {

			li {

				position: relative;

				&:hover > ul {
					opacity: 1;
					visibility: visible;
				}

				@include breakpoint(regular) {

					&.has-sub-menu > a:after {
						content: "..."; // \2026
					}

				}

			}

			a {

				display: block;

				@at-root #{selector-replace(&, "a", ".current > a")}, &:hover {

					color: $header-nav-sub-hover-color;

					&:before {
						color: $header-nav-sub-hover-color;
					}

					svg * {
						fill: $header-nav-sub-hover-color !important;
					}

				}

			}

			svg * {
				fill: $header-nav-sub-color;
			}

			// Level 1+
			ul {

				color: $header-nav-sub-color;
				z-index: 4;

				li {

					display: block;

					@include breakpoint(regular) {

						&.has-sub-menu > a > .cut {
							display: inline;
						}

					}

				}

				a {

					> .cut {
						text-overflow: ellipsis;
						display: block;
						overflow: hidden;
					}

				}

			}

		}

		// Level 0
		> ul {

			font-size: inherit;
			color: $header-nav-bright-color;
			display: inline-block;
			margin: 0;

			@include replace("nav", "nav.dark") {
				color: $header-nav-dark-color;
			}

			> li {

				border: none;
				text-align: left;
				display: inline-block;

				&.has-sub-menu > a:after {
					content: "..."; // \2026
				}

				> a {

					padding: 0.6em;

					&:before {
						display: none;
					}

					svg * {
						fill: $header-nav-bright-color;
						@include replace("nav", "nav.dark") {
							fill: $header-nav-dark-color;
						}
					}

					@at-root #{selector-replace(&, "a", ".current > a")}, &:hover {

						color: $header-nav-hover-color;

						&:before {
							color: $header-nav-hover-color;
						}

						svg * {
							fill: $header-nav-hover-color !important;
						}

					}

				}

				// Level 1
				> ul {

					$background: $header-nav-sub-background;
					$padding-vertival: 0.625em;
					$padding-horizontal: $padding-vertival*2;

					transition: opacity 0.2s, visibility 0.2s;
					box-shadow: 2px 2px rem(4) 0 $header-nav-sub-shadow;
					background: $background;
					white-space: nowrap;
					opacity: 0;
					position: absolute;
					margin: 1em 0 0;
					padding: $padding-vertival $padding-horizontal;
					top: 100%;
					right: 0;
					visibility: hidden;

					&:before {

						@include position(absolute, null null 100% 0);
						@include size(100% 1em);

						content: "";
						display: block;

					}

					&:after {

						@include position(absolute, null $padding-horizontal*1.25 100% null);
						@include triangle(em(20) em(10), $background, up);

						content: "";
						display: block;

					}

					&.right {

						left: 0;
						right: auto;

						&:after {
							@include position(absolute, null auto null $padding-horizontal*1.25);
						}

					}

					> li {

						&:first-child {
							border-top: none;
						}

						> a {
							margin-left: 0;
						}

						// Level 2+
						ul {

							a {
								margin-left: 1.2em;
							}

							@include breakpoint(regular) {

								$distance: $padding-horizontal + 1em;

								transition: opacity 0.2s, visibility 0.2s;
								box-shadow: -2px 2px rem(4) 0 $header-nav-sub-shadow;
								background: $background;
								opacity: 0;
								position: absolute;
								margin: -$padding-vertival $distance 0 0;
								padding: $padding-vertival $padding-horizontal;
								top: 0;
								right: 100%;
								visibility: hidden;

								&:before {

									@include position(absolute, 0 auto auto 100%);
									@include size($distance (1.4em + 0.75em*2) * 2 + $padding-vertival);

									content: "";
									display: block;

								}

								&:after {

									@include position(absolute, ($padding-vertival + 0.75em + 1.4em/2) auto auto 100%);
									@include triangle(em(20) em(10), $background, right);

									content: "";
									display: block;
									margin-top: em(-10);

								}

								&.right {

									box-shadow: 2px 2px rem(4) 0 $header-nav-sub-shadow;
									margin-left: $distance;
									margin-right: 0;
									left: 100%;
									right: auto;

									&:before {
										left: auto;
										right: 100%;
									}

									&:after {
										transform: rotate(180deg);
										left: auto;
										right: 100%;
									}

								}

								li {

									&:first-child {
										border-top: none;
									}

								}

								a {
									margin-left: 0;
								}

							}

						}

					}

				}

			}

		}

		+ nav {

			display: none;

			@include breakpoint(regular) {
				display: block;
			}

		}

		+ .logo {
			@include margin(rem(25) null 0);
		}

	}

}

/*
 * Footer
 */
#footer {

	@extend %box-background;
	@include position(absolute, null 0 0);

	overflow: hidden;

	// Container
	.container {
		padding: 0 rem(20);
	}

	// Photo stream
	.photostream {

		margin: 0;

		.items {
			margin-left: -1px;
		}

		a {
			@include border-margin(1px null null 1px);
		}

	}

	// End note
	.end-note {

		@include font(secondary, rem(14) 1.5em);

		color: $end-note-text-color;
		text-decoration: none;
		position: relative;
		margin: rem(20) 0;

		@include breakpoint(medium) {
			@include clearfix;
		}

		a {
			@include link-reverse;
		}

		.align-left > *, .align-right > * {

			@include common-text;

			@include breakpoint(medium) {
				@include marginfix;
			}

		}

		// Share
		.share {
			text-align: left;
		}

		// Back to top
		.back {

			@include border-circled;
			@include position(absolute, 50% 0 null null);

			transition: background 0.2s;
			background: $end-note-back-background;
			display: block;
			margin-top: rem(-15);
			width: rem(30);
			height: rem(30);

			@include breakpoint(medium) {
				margin-right: rem(-15);
				right: 50%;
			}

			&:hover {
				background: $link-color;
			}

			&:after {

				@include position(absolute, 50% null null 50%);
				@include triangle(rem(16) rem(10), $box-background-color, up);

				content: "";
				display: block;
				margin: rem(-6) 0 0 rem(-8);

			}

		}

	}

}